.App {
  font-family: "Roboto", sans-serif;
  background-color: hsl(57, 53%, 93%);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
}

h1 {
  font-size: 2rem;
}

home-title{
  font-size: 4rem;
  font-family: 'Poppins', sans-serif;
  margin-top: 2rem;
  font-weight: bolder;
  text-align: center;
  text-shadow: 4px 4px 4px rgba(0, 17, 255, 0.246);
}


.search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.search-section input {
  margin-right: 1rem;
  text-align: center;
  padding: 0.5rem;
}

.search-section button {
  padding: 0.5rem 1rem;
  background-color: #000000;
  color: #f3f3f3;
  border: none;
  font-size: 1rem;
}

.search-section button:hover {
  background-color: #444f5c;
  cursor: pointer;
}

.recipe-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0;
}

.recipe-section > div {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 30rem;
  min-width: 20rem;
  text-align: center;
}

.recipe-section img {
  max-width: 100%;
  max-height: 15rem;
}

.recipe-section h1 {
  margin-bottom: 1rem;
}

.recipe-section h5 {
  margin-top: 1rem;
}

.recipe-section button {
  margin-top: 1rem;
}

.recipe-section > div {
  position: relative;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 30%;
  text-align: center;
}

.recipe-section img {
  max-width: 100%;
  max-height: 15rem;
  margin: 0 auto;
}

.recipe-section h1 {
  margin-bottom: 1rem;
}

.recipe-section h5 {
  margin-top: 1rem;
}

.recipe-section button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 1rem;
}

.search-section button,
.recipe-section button {
  padding: 0.5rem 1rem;
  background-color: #000000;
  color: #f3f3f3;
  border: none;
  font-size: 1rem;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.search-section button:hover,
.recipe-section button:hover {
  background-color: #444f5c;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  transform: translateY(-2px);
}

.search-section input {
  margin-right: 1rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 50px;
}

.search-section button {
  padding: 0.5rem 1rem;
  background-color: #000000;
  color: #f3f3f3;
  border: none;
  font-size: 1rem;
  border-radius: 50px;
}

.recipe-section button {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 1.2rem;
  padding: 0.2rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.signout-button {
  padding: 0.5rem 0.5rem;
  background-color: #000000;
  color: #f3f3f3;
  border: none;
  font-size: 1rem;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  width: 100px
}

.signout-button:hover {
  background-color: #444f5c;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-title {
  font-size: 8rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  text-align: center;
  text-shadow: 4px 4px 4px rgba(0, 17, 255, 0.246);
}

.login-button {
  padding: 1rem 2rem;
  background-color: #000000;
  color: #f3f3f3;
  border: none;
  font-size: 1.5rem;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  width: 300px
}

.login-button:hover {
  background-color: #444f5c;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  transform: translateY(-2px);
}


.favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites-title {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.new-button {
  background-color: black;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.recipeinfo-button{
  background-color: black;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  border-radius: 15px;
  cursor: pointer;
  width: 150px
}

.home-button button:hover {
  background-color: white;
  color: black;

}

.button-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
